<!-- <h1>Editar cliente</h1>

<div class="well container-fluid">
  <div class="row col-sm-12">
      <form (ngSubmit)="update(formCustomer)" #formCustomer="ngForm">
      <div class="form-group">
        <label for="name">cliente:</label>
        <br>
        <input type="text"
        class="form-control"
        id="name"
        name="name"
        [(ngModel)]="customer.name"
        #name="ngModel"
        minlength="5"
        required
        width="auto">
         <br>
      <div *ngIf="name.errors && (name.dirty || name.touched)"
           class="alert alert-danger">
    <div [hidden]="!name.errors.required">
    Digite a cliente:
    </div>
    <div [hidden]="!name.errors.minlength">
      A cliente deve conter ao menos 5 caracteres!
    </div>
      </div>
        </div>
    <div class="form-group text-center">

      <input type="button"
      (click)="update()"
      class="btn btn-success"
      value="Atualizar"
      [disabled]="formCustomer?.invalid">
      <a [routerLink]="['/customers']"
      class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"
        aria-hidden="true"></span>
      </a>
    </div>
  </form>
</div>
</div>
 -->
