/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
body {
  color: #CCC;
  .wrapper {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    h2 {
      font-size: 11px;
    }
    .wrapper-list {
      padding: 20px;
    }
  }
}
}
