/* You can add global styles to this file, and also import other style files */
* {
  background-color: #1a1a1a;
  color: #CCC;
  .wrapper {
    border: 1px solid greenyellow;
    margin: 0;
    padding: 20px;
    h2 {
      font-size: 11px;
    }
  }
}
